<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}SPA Example{% endblock %}</title>
    <style>
        /* Add your CSS styles here */
        .tab-content {
            display: none;

        }

        .tab-content.active {
            display: block;

        }

        .active-tab {
            background-color: #007bff;
            /* Highlight color */
            color: white;
        }
    </style>
</head>

<body>

    <div id="tabs">
        <button id="btn-sel-project" onclick="showTab('project')">Project</button>
        <button id="btn-sel-artwork" onclick="showTab('artwork')">Artwork</button>
        <button id="btn-sel-sweep" onclick="showTab('sweep')">Sweep</button>
    </div>

    {% block content %}{% endblock %}



    <script>

    document.addEventListener('DOMContentLoaded', function () {

        showTab('project'); // Show project tab by default
        updateTabsAvailability(); // Update tabs after deleting row
    });



    </script>


</body>

</html>