<h2>Project Configurations</h2>



<!-- Form to input project directory manually -->
<form id="projectDirectoryForm" onsubmit="return false;">
    <label for="projectDirectory">Project Directory:</label>
    <input type="text" id="projectDirectory" placeholder="Enter relative path...">
    <!-- <button onclick="createProject()">Save</button> -->
</form>

<!-- Form to input project directory manually -->
<form id="projectNameForm" onsubmit="return false;">
    <label for="projectName">Project Name:</label>
    <input type="text" id="projectName" placeholder="Enter project name...">
    <!-- <button onclick="createProjectName()">Save</button> -->
</form>




<button onclick="createProjectAndName()">Set</button>

<!-- Correctly include project_layers.js with src attribute -->
<script src="/static/js/script_project.js"></script>
