<h2>Sweep</h2>
<!-- Add content specific to Sweep tab -->

<form id="parameterForm">
    <div>
        <label for="enableSimulation">Enable SVG Generation:</label>
        <input type="checkbox" id="enableSVGinSweep" name="enable SVG"><br>
        <label for="enableSimulation">Enable Sweep Simulation:</label>
        <input type="checkbox" id="enableSimulation" name="enable Simulation"><br>
    </div>

    <fieldset class="parameter-row">
        <legend>Apothem</legend>
        <label for="apothemFrom">From:</label>
        <input type="number" id="apothemFrom" name="apothemFrom" required>
        <label for="apothemTo">To:</label>
        <input type="number" id="apothemTo" name="apothemTo" required>
        <label for="apothemStep">Step Size:</label>
        <input type="number" id="apothemStep" name="apothemStep" required>
    </fieldset>
    <fieldset class="parameter-row">
        <legend>Width</legend>
        <label for="widthFrom">From:</label>
        <input type="number" id="widthFrom" name="widthFrom" required>
        <label for="widthTo">To:</label>
        <input type="number" id="widthTo" name="widthTo" required>
        <label for="widthStep">Step Size:</label>
        <input type="number" id="widthStep" name="widthStep" required>
    </fieldset>
    <fieldset class="parameter-row">
        <legend>Spacing</legend>
        <label for="spacingFrom">From:</label>
        <input type="number" id="spacingFrom" name="spacingFrom" required>
        <label for="spacingTo">To:</label>
        <input type="number" id="spacingTo" name="spacingTo" required>
        <label for="spacingStep">Step Size:</label>
        <input type="number" id="spacingStep" name="spacingStep" required>
    </fieldset>

    
    <button type="button" onclick="sweep()">Generate JSON</button>
</form>

<!-- Status display section -->
<div id="statusDisplay" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc;">
    <h3>Status Updates</h3>
    <pre id="statusContent"></pre>
</div>


<div id="progressContainer" style="margin-top: 10px;">
    <div id="progressBar" style="width: 0%; height: 20px; background-color: green;"></div>
</div>
<p id="progressText"></p>


<script src="/static/js/script_sweep.js"></script>